!!!
%html
  %head
    %title Nikalyukin Mikhail
    %meta{:content => "Nikalyukin Mikhail. I'm a web ruby on rails developer. I love my work", :name => "description"}
    %meta{:content => "nikalyukin mikhail, mikhail nikalyukin, nikalyukin, mikhail, Михаил Никалюкин, Никалюкин Михаил, Никалюкин, web, web-developer, ruby, ruby-on-rails, ror, freelancer, tech", :name => "keywords"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tags
    = render template: "layouts/google_analytics"
  %body
    .content
      = yield