!!!
%html
  %head
    %title Nikalyukin Mikhail
    %meta{:content => "Nikalyukin Mikhail HomePage, Ruby on Rails web developer", :name => "description"}
    %meta{:content => "Nikalyukin Mikhail, web, web-developer, ruby, ruby-on-rails, ror, freelancer, tech", :name => "keywords"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tags
    = render template: "layouts/google_analytics"
  %body
    .content
      = yield