!!!
%html
  %head
    %title Nikalyukin Mikhail
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render template: "layouts/google_analytics"
  %body
    .content
      = yield